@import "tailwindcss";

* {
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #575757;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.box-calculator {
    width: 450px;
    height: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0 0 15px 0 white;
    padding: 20px 10px;
}
.show-outputs {
    background-color: red;
    padding: 20px;
    min-width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 80px;
}
.show-inputs {
    height: 80%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
button {
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all ease-in-out .2s;
    -webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -ms-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
}
button:hover {
    background-color: white;
    color: black !important;
}